button{
    background-color: #ee432e;
    background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
    border: 1px solid #951100;
    border-radius: 5px;
    box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px, #333333;
    padding: 12px 20px 14px 20px;
    text-decoration: none;
    color: #fff;
    font: bold 20px helvetica, arial, sans-serif;
    text-align: center;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
}




