//<div class="form">
////<input type="text" name="username" autocomplete="off" required/>
//</div>
//<label for="name" class="label-name">
////<span class="content-name">Name<span/>
//</label>


.form{
    position: relative;
    overflow: hidden;
}
.form inputs{
    width: 100%;
    height: 100%;
    color: blue;
    padding-top: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid silver;
}
.form label{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
label{
    position: absolute;
    bottom: 20px;
    left: 0;
    color: gray;
    pointer-events: none;
}
.form label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid rgb(3, 3, 165);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.content-name{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}
.form input:valid + .label-name .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: rgb(3, 3, 165);
}
.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
    transform: translateX(0%)
}

.form input .underline{
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
    background: red;
}

.form input .underline:before{
    position: absolute;
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.form input:focus~.underline:before,
.form input:valid~.underline:before {
    transform: scaleX(1);
 } 
